.main {
    margin-bottom: 7rem;
}

.centeredText {
    text-align: center;
}

.accountInfo {
    font-size: 40px;
    font-weight: 600;
    margin-top: 3rem;
}

.requestInfo {
    font-size: 24px;
    margin-top: 1rem;
}

.usermail {
    font-size: 24px;
    margin-bottom: 2rem;
}

.username {
    font-size: 24px;
    margin-bottom: 1rem;
}

.info {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
}

.leftSection {
    text-align: left;
}

.rightSection {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
}

.volunteerInfo {
    max-width: 60%;
    align-items: center;
    margin-bottom: 2rem;
}

.volunteerInfo p {
    font-size: 20px;
}

.saveButton {
    font-size: 20px;
    border-radius: 15px;
    padding: 10px;
    margin-top: 10px;
    background-color: #3F3F3F;
    color: white;
    cursor: pointer;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputField {
    border-radius: 10px;
    width: 100%;
    border-width: 0px 0px 1px 0px;
    border-color: #000;
    font-size: 24px;
    padding: 10px;
    background-color: #e6e6e4;
    margin-bottom: 2rem;
}

.inputLabel {
    font-size: 24px;
    margin-bottom: 1rem;
}