.newsContainer {
    width: 95%;
    margin: 0 auto;
}

.newsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.newsTitle {
    font-size: 64px;
}

.allNewsLink {
    font-size: 24px;
}

.newsSection {
    display: flex;
    width: 90%;
}

.leftSection {
    position: relative;
    margin-top: 10rem;
    margin-left: 10rem;
}

.rightSection {
    position: relative;
    margin-left: auto;
}

.imageContainer {
    position: relative;
}

.newsImage {
    max-width: 100%;
    height: auto;
}

.textBlock1,
.textBlock2 {
    position: absolute;
    bottom: 0;
    width: 250px;
    height: 150px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    background-color: #E6E6E6;
    color: #212121;
    font-size: 20px;
}

.textBlock1 {
    right: 0;
}

.textBlock2 {
    left: 0;
}
