.newsContainer {
    width: 95%;
    margin: 0 auto;
}

.newsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.newsTitle {
    font-size: 64px;
}

.allNewsLink {
    font-size: 24px;
}

.newsSection {
    display: flex;
}

.leftSection {
    position: relative;
}

.rightSection {
    position: relative;
    margin-left: 100vh;
}

.newsImage {
    max-width: 100%;
    height: auto;
}

.textBlock {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 250px;
    height: 150px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    background-color: rgba(255, 255, 255);
    color: #212121;
    font-size: 20px;
}
