.header {
    width: 95%;
    height: 79px;
    position: relative;
    border-radius: 51px;
    border: 2px solid #3F3F3F;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem auto;
}

.navList {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

.navItem {
    margin-right: 10rem;
    font-size: 22px;
}

.sunLight {
    margin-left: auto;
}

.country {
    margin-right: auto;
    font-size: 25px;
    margin-left: 2rem;
}

.registerButton,
.loginButton {
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #3F3F3F;
    margin-right: 2rem;
    font-size: 22px;
}

.registerButton {
    background-color: #3F3F3F;
}

.loginButton {
    background-color: transparent;
    color: #3F3F3F;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 10rem;
    margin-left: 2rem;
    font-size: 20px;
    cursor: pointer;
}

.logoText {
    margin-left: 10px;
}

@media (max-width: 768px) {
    .header {
      flex-direction: column;
      height: auto;
      padding: 1rem;
      border-radius: 20px;
    }
  
    .logo {
      margin-right: 0;
      margin-left: 0;
      font-size: 16px;
    }
  
    .logoText {
      margin-left: 5px;
    }
  
    .navList {
      flex-direction: column;
      align-items: center;
      margin-right: 0;
    }
  
    .navItem {
      margin-right: 0;
      font-size: 18px;
      margin-bottom: 1rem;
    }
  
    .sunLight {
      order: -1;
      margin-bottom: 1rem;
    }
  
    .country {
      order: -1;
      margin-left: 0;
      margin-bottom: 1rem;
    }
  
    .registerButton,
    .loginButton {
      margin-right: 0;
      margin-bottom: 1rem;
      padding: 8px 16px;
    }
  }
  