.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%;
    height: 70%;
}

.title {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

.dataInput {
    font-size: 24px;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.selectWrapper {
    position: relative;
    width: 70%;
    margin: 0 auto;
    margin-top: 1rem;
}

.selectedOption {
    font-size: 22px;
    padding: 10px;
    border: 1px solid #3F3F3F;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.optionsContainer {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #3F3F3F;
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.option {
    padding: 10px;
    cursor: pointer;
    font-size: 22px;
}

.option:hover {
    background-color: #3F3F3F;
    color: white;
}

.arrowIcon {
    width: 20px;
    height: 20px;
}

.inputContainer1 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.inputContainer1 input {
    width: calc(50% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 1rem;
}

.inputContainer1 input:nth-child(3),
.inputContainer1 input:nth-child(4) {
    width: calc(50% - 10px);
}

.inputContainer1 input:nth-child(5) {
    width: calc(100% - 10px);
    margin-right: 0;
    height: 5rem;
}

.inputContainer3 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.inputContainer3 input {
    width: calc(50% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 1rem;
}

.inputContainer3 input:nth-child(3) {
    width: calc(100% - 10px);
    margin-right: 0;
}

.inputContainer2 {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.inputContainer2 input {
    width: calc(50% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 1rem;
}

.inputContainer2 input:nth-child(3) {
    width: calc(100% - 10px); 
    margin-right: 0;
    height: 5rem;
    vertical-align: top;
}

.registerButton {
    font-weight: 500;
    font-size: 24px;
    border-radius: 15px;
    padding: 10px 18px 12px 18px;
    margin-top: 3rem;
    background-color: #3F3F3F;
    color: white;
    border: none;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
  }
  