.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%;
    height: 35%;
}

.title {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

.dataInput {
    font-size: 24px;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.selectWrapper {
    position: relative;
    width: 70%;
    margin: 0 auto;
    margin-top: 1rem;
}

.selectedOption {
    font-size: 22px;
    padding: 10px;
    border: 1px solid #3F3F3F;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.optionsContainer {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #3F3F3F;
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.option {
    padding: 10px;
    cursor: pointer;
    font-size: 22px;
}

.option:hover {
    background-color: #3F3F3F;
    color: white;
}

.arrowIcon {
    width: 20px;
    height: 20px;
}
