.supportActionContainer {
  text-align: center;
  margin: 5rem 0;
}

.contentWrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
}

.blazeImage {
  width: 50px;
}

.supportActionText {
  font-size: 36px;
  margin-top: 2rem;
}

.supportActionText2 {
  font-size: 24px;
  margin-top: 1rem;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.wrapper2 {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  font-size: 24px;
}

.doubleArrowImage {
  width: 25px;
  margin-left: 1rem;
  margin-top: 1rem;
}

.registerButton {
  font-weight: 500;
  font-size: 24px;
  border-radius: 15px;
  padding: 10px 18px 12px 18px;
  margin-top: 3rem;
  background-color: #3F3F3F;
  color: white;
  border: none;
}
