.footer {
    width: 100%;
    height: 35%;
    background-color: rgb(175, 131, 131);
    position: fixed;
    bottom: -20px;
}

.footerinfo {
    width: 100%;
    height: 75%;
    padding-top: 30px;
}

.footeremail {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: flex-start;
}

.footeremail1 {
    width: 100%;
    font-size: 24px;
}

.footeremail2 input[type="email"] {
    border-radius: 15px;
    border-width: 0px 0px 1px 0px;
    border-color: #000;
    padding: 15px 425px 15px 10px;
    font-family: Jura, Arial, Helvetica, sans-serif;
}

.socialnet {
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 10rem;
}


.logo {
    display: flex;
    align-items: center;
    margin-right: -40rem;
}

.logoText {
    margin-left: 10px;
    font-size: 25px;
}

.aboutus {
    font-size: 20px;
    line-height: 28px;
}

.aboutus p:not(:last-child) {
    margin-bottom: 10px;
}

.icons {
    display: flex;
    justify-content: flex-end;
}

.icons img:not(:last-child) {
    margin-right: 1.5rem;
}

.content {
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 10px;
    font-size: 20px;
}

.content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1px;
    background-color: black;
}

.content::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1px;
    background-color: black;
}