.footer {
    width: 100%;
    height: 35%;
    background-color: #ad7070;
    position: fixed;
    bottom: 0;
}

.footerinfo {
    width: 100%;
    height: 75%;
}

.content {
    display: flex;
    justify-content: center;
    height: 100%;
}
